<!DOCTYPE html>
<html>

<head>
    <title>Index of {foldername} | {SITE_URL}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{ABS_URL}favicon.png" />
    <link href="{ABS_URL}{CSS_FILENAME}" rel="stylesheet" />
</head>

<body>
    <div class="m-2 lg:m-4">
        <div class="font-bold tracking-wide text-2xl text-gray-700">Index of <code>{breadcrumb}</code>
        </div>
    </div>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg m-2 lg:m-4">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="py-3 px-6">Name</th>
                    <th scope="col" class="py-3 px-6">Size</th>
                    <th scope="col" class="py-3 px-6">Last Modified</th>
                </tr>
            </thead>
            <tbody>
